@mixin circleToggle {
	content: '';
	position: absolute;
	top: 50%;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
	transform: translate(0, -50%);
	transition: right 0.3s, left 0.3s;
}
.toggle {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}
.point {
	position: relative;
	width: 35px;
	height: 20px;
	display: block;
	border-radius: 8px;
	background-color: blueviolet;
}

.bold {
	&:after {
		@include circleToggle;

		left: 2px;
	}
}

.normal {
	&:after {
		@include circleToggle;

		right: 2px;
	}
}

.valur {
	font-weight: 500;
	color: #fafbfc;
}
